body {
  margin:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
    background-color: #b7c8e8 !important;
    height:100vh;
  /* background-repeat:no-repeat ; */

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


input{
  border-radius: 5px;
  border:1px solid black;
  margin:5px !important;
  position:relative;
}

span{
  position:relative;
}


.form{
 height:40rem;
  width:50rem;
  display:flex;
  flex-wrap:wrap;
  
  border-radius:10px;
  margin-top:30px !important;
  margin-left: 200px; 
  height:100%; 
}

.form_div{
  flex:2;
}

.form_img{
  position:relative;
  left:20px;
  width:300px;
  height:300px;
  
}

.card{
  margin:40px;
  margin-left:50px;
   width:300px;
   flex:1;
  border-radius:5px;
  background-image: linear-gradient(120deg, #cfeaf1 0%, #ebedee 100%);
}



.bt{
  border-radius: 5px;
  margin:10px;
}

.bt:hover{
  font-size: large;
  background-color: darkgrey;
}
.lgrg{
  color:black;
  text-decoration:none;
}
  
.navbar{
  height:60px;
  color:white;
  display:flex;
  align-items: center;
  justify-content:space-around !important;
  background-color: #4267B2;
}

.nav-list{
  display:flex;
  align-items: center;
  list-style: none;
}

.logo{
  font-weight: bold;
 margin-bottom:5px;
 
 bottom:10px;
}
.nav-listitem{
  margin:10px;
  margin-right:5px;
  cursor: pointer;
  font-size: 15px;
  list-style: none;

}

li:hover{
  color:grey;
  font-size: 16px;
}

.link{
  color: inherit;
  text-decoration:none;
}

.link:hover{
  color:grey;
  font-size:16px;
}

.avatar{
  height:32px;
  width:32px;
  border-radius:50%;
  object-fit: cover;
}
.logo{
  display:flex;
  height:32px;
  width:32px;
  border-radius:50%;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
   .login,.register,.form_div{
    flex:100%;
   }
}

